<!DOCTYPE html>
<html>
<title>{{ group.group_name }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.3/chosen.min.css"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}"/>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.3/chosen.jquery.min.js"></script>

<body>

<!-- Topnav-->
<div class="navbar" id="myTopnav">
  <a class="active" href="{{ url_for('home', username=current_user.username) }}">{{ current_user.username }}</a>
  <a href="{{ url_for('chats', username=current_user.username) }}">Chats</a>
  <a href="{{ url_for('groups', username=current_user.username) }}">Groups</a>
  <a class="name_top" onclick="toggleNav()">{{ group.group_name }}</a>
<a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
<div class="navbar-right"><a href="{{ url_for('logOut')}}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></div>
</div>

<!-- Sidenav -->
<div class="sidenav">
  <h3 class="section">New Group</h3>
  <form method="POST">
    {{ forms.new_group.csrf_token }}
    <label for="group_name" class="sidenav_label">Name of the group:</label><br>
      {{ forms.new_group.group_name }}
      <br>
    <label for="newgroup_users" class="sidenav_label">Select the users:</label><br>
      {{ forms.new_group.users(rows=3, multiple=True) }}
      <br><br>
      {{ forms.new_group.create }}
  </form>

  <h3 class="section">Groups</h3>
    {% for group in groups %}
      {% if current_user == group.group_admin %}
      <a href="{{ url_for('group_admin', username=current_user.username, group=group.id) }}" class=sidenav_label>{{group.group_name}}</a>
      {% endif %}
      {% if current_user != group.group_admin %}
      <a href="{{ url_for('group', username=current_user.username, group=group.id) }}" class=sidenav_label>{{group.group_name}}</a>
      {% endif %}
    {% endfor %}
</div> 

<!-- Sidenav InGroup -->

<div id="mySidenav" class="sidenav-group">
  <h3 class="section-ingroup">Users</h3>
    {% for user in group.get_users() %}
    <a href="" class=sidenav_label>{{user.username}}</a>
    {% endfor %}

  <h3 class="section-ingroup">Add User</h3>
  <form method="POST">
    {{ forms.new_user.csrf_token }}
    <label for="newgroup_users" class="sidenav-label-ingroup">Select users:</label><br>
      {{ forms.new_user.new_user(rows=3, multiple=True) }}
      <br><br>
      {{ forms.new_user.add }}      
  </form>

  <h3 class="section-ingroup">Remove User</h3>
  <form method="POST">
    {{ forms.remove_user.csrf_token }}
    <label for="newgroup_users" class="sidenav-label-ingroup">Select users:</label><br>
      {{ forms.remove_user.remove_user(rows=3, multiple=True) }}
      <br><br>
      {{ forms.remove_user.remove }}      
  </form>
</div>

<!-- Messages -->
<div class="main">
  <br>
  {% for message in messages %}
    {% if message.user.id == current_user.id %}
    <div class="message-container-sent">
      <p style="text-align:right" class="message">{{ message.message }}</p>
      <p style="text-align:right" class="date">{{ message.message_date.strftime("%Y-%m-%d, %H:%M") }}</p>
      <!-- <p style="text-align:right">{{ message.compound }}</p> -->
    </div>
    {% endif %}
    {% if message.user.id != current_user.id %}
    <div class="message-container-received">
      <p>{{ message.user.username }}</p>
      <p class="message">{{ message.message }}</p>
      <p class="date">{{ message.message_date.strftime("%Y-%m-%d, %H:%M") }}</p>
      <!-- <p>{{ message.compound }}</p> -->
    </div>
    {% endif %}
  {% endfor %}
</div>

<!-- Text box -->
<div class="footer">
  <form method="POST">
    <section class="flexbox">
    {{ forms.new_message.message }}
    {{ forms.new_message.send }}
    </section>
  </form>
</div>

<!-- Scripts -->
<script>
/* Responsive Top Navigation */
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}

/* Sticky Topnav */
window.onscroll = function() {myFunction()};

var topnav = document.getElementById("myTopnav");
var sticky = topnav.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    topnav.classList.add("sticky")
  } else {
    topnav.classList.remove("sticky");
  }
}

/* Start the Scroll Bar to the bottom */
function toBottom() {
  window.scrollTo(0, document.body.scrollHeight);
}
  window.onload=toBottom;

$(document).ready(function(){
  $(".chosen-select").chosen({ max_selected_options: 9 });
})

/* Chosen sidenav */ 
$(document).ready(function(){
  $(".chosen-select").chosen({
    width:'100%'
  });
});

/* Chosen Nothing Found sidenav */
$(".chosen-select").chosen({
  no_results_text: "Oops, nothing found!"
})

/* Sidenav InGroup */
function toggleNav() {
  var element = document.getElementById("mySidenav");
  if (element.style.width == "200px") {
      element.style.width = "0px";
  } else {
      element.style.width = "200px";
  }
}

</script>

</body>
</html>